@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-base: #f4e1be;
    --text-50: #ffffe5;
    --text-100: #ffffcc;
    --text-200: #ffff99;
    --text-300: #ffff66;
    --text-400: #ffff33;
    --text-500: #ffff00;
    --text-600: #cccc00;
    --text-700: #999900;
    --text-800: #666600;
    --text-900: #333300;
    --text-950: #191a00;

    --background-base: #64370c;
    --background-50: #f3f1f3;
    --background-100: #e8e3e7;
    --background-200: #d1c7ce;
    --background-300: #b9acb6;
    --background-400: #a2909e;
    --background-500: #8b7485;
    --background-600: #6f5d6b;
    --background-700: #534650;
    --background-800: #382e35;
    --background-900: #1c171b;
    --background-950: #0e0c0d;

    --primary-base: #3677b0;
    --primary-50: #fdefe7;
    --primary-100: #fbe0d0;
    --primary-200: #f7c0a1;
    --primary-300: #f4a171;
    --primary-400: #f08242;
    --primary-500: #ec6313;
    --primary-600: #bd4f0f;
    --primary-700: #8e3b0b;
    --primary-800: #5e2708;
    --primary-900: #2f1404;
    --primary-950: #180a02;

    --secondary-base: #e97116;
    --secondary-50: #f4f0f5;
    --secondary-100: #e9e0eb;
    --secondary-200: #d3c2d6;
    --secondary-300: #bda3c2;
    --secondary-400: #a785ad;
    --secondary-500: #916699;
    --secondary-600: #74527a;
    --secondary-700: #573d5c;
    --secondary-800: #3a293d;
    --secondary-900: #1d141f;
    --secondary-950: #0f0a0f;

    --accent-base: #45b06a;
    --accent-50: #eef6f6;
    --accent-100: #deeded;
    --accent-200: #bcdadc;
    --accent-300: #9bc8ca;
    --accent-400: #79b5b9;
    --accent-500: #58a3a7;
    --accent-600: #468286;
    --accent-700: #356264;
    --accent-800: #234143;
    --accent-900: #122121;
    --accent-950: #091011;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: 300;
}
h1 {
  font-family: var(--font-aboreto), sans-serif;
  font-size: 3rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}
.presentation-grid {
  display: grid;
  justify-items: start;
  align-content: stretch;
  grid-template-columns: fit-content(16rem) minmax(320px, 1fr) minmax(
      320px,
      1fr
    );
  width: 100%;
}
.no-scrollbar {
  scrollbar-width: none;
}
.tile {
  @apply p-6 sm:p-10 min-h-[225px];
  border-radius: 30px;
  border: 1px solid var(--test-stroke, #fff);
  background: var(
    --test-item,
    radial-gradient(
      165.3% 70.64% at 49.87% 50.22%,
      rgba(255, 255, 255, 0.1) 14.5%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    #101010
  );
}

html,
body {
  width: 100%;
  height: 100%;
}

.body {
  background: linear-gradient(-45deg, #f2c36a, #2f282e, #f18a4f);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  z-index: 40;
  transform: translateZ(0);
  overflow-x: hidden;

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100%);
    z-index: 0;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
