.map-svg .cls-1,
.map-svg .cls-18,
.map-svg .cls-21,
.map-svg .cls-4 {
  fill:none;
}
.map-svg .cls-2,
.map-svg .cls-9 {
  fill:#d8daac;
}
.map-svg .cls-18,
.map-svg .cls-19,
.map-svg .cls-2,
.map-svg .cls-21,
.map-svg .cls-3,
.map-svg .cls-4,
.map-svg .cls-5,
.map-svg .cls-6 {
  stroke:#643912;
}
.map-svg .cls-2,
.map-svg .cls-21,
.map-svg .cls-3,
.map-svg .cls-4,
.map-svg .cls-5,
.map-svg .cls-6,
.map-svg .cls-9 {
  stroke-miterlimit:10;
}
.map-svg .cls-2,
.map-svg .cls-3,
.map-svg .cls-4,
.map-svg .cls-5,
.map-svg .cls-6 {
  stroke-width:3.37px;
}
.map-svg .cls-17,
.map-svg .cls-3 {
  fill:#f2dfbb;
}
.map-svg .cls-4 {
  stroke-linecap:square;
}
.map-svg .cls-5 {
  fill:#3677b1;
}
.map-svg .cls-6 {
  fill:#47af6c;
}
.map-svg .cls-10,
.map-svg .cls-11,
.map-svg .cls-13,
.map-svg .cls-14,
.map-svg .cls-15,
.map-svg .cls-16,
.map-svg .cls-19,
.map-svg .cls-20,
.map-svg .cls-7 {
  fill:#643912;
}
.map-svg .cls-8 {
  fill:#ea7217;
}
.map-svg .cls-9 {
  stroke:#d8daac;
}
.map-svg .cls-19,
.map-svg .cls-9 {
  stroke-width:0.28px;
}
.map-svg .cls-10,
.map-svg .cls-11,
.map-svg .cls-12,
.map-svg .cls-13,
.map-svg .cls-14,
.map-svg .cls-15,
.map-svg .cls-16,
.map-svg .cls-17,
.map-svg .cls-20,
.map-svg .cls-21 {
  isolation:isolate;
}
.map-svg .cls-10,
.map-svg .cls-11,
.map-svg .cls-13,
.map-svg .cls-14 {
  font-size:7.85px;
}
.map-svg .cls-10,
.map-svg .cls-11,
.map-svg .cls-13,
.map-svg .cls-14,
.map-svg .cls-15,
.map-svg .cls-16,
.map-svg .cls-17,
.map-svg .cls-20,
.map-svg .cls-21 {
  font-family:FacultyGlyphic-Regular, Faculty Glyphic;
}
.map-svg .cls-11 {
  letter-spacing:-0.02em;
}
.map-svg .cls-13 {
  letter-spacing:-0.06em;
}
.map-svg .cls-14 {
  letter-spacing:-0.09em;
}
.map-svg .cls-15 {
  font-size:15.64px;
}
.map-svg .cls-16 {
  font-size:15.46px;
}
.map-svg .cls-17 {
  font-size:10.78px;
}
.map-svg .cls-18,
.map-svg .cls-19 {
  stroke-linecap:round;stroke-linejoin:round;
}
.map-svg .cls-18 {
  stroke-width:1.44px;
}
.map-svg .cls-20,
.map-svg .cls-21 {
  font-size:5.38px;
}
.map-svg .cls-21 {
  stroke-width:0.25px;
}

.map-svg .yellow {
  fill: #EA7311;
}

@keyframes anim {
  0% {
    r: 1;
  }
  50% {
    r: 5;
  }
  100% {
    r: 1;
  }
}


@keyframes marker-pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.map-svg .active-marker-pulse {
  fill: #EA7311;
  animation: marker-pulse 1.5s ease-out infinite;
}

.map-svg .cls-18 {
  stroke: #643811 !important;
}

.map-svg .wardrobe-icon {
  fill: #643912 !important;
  stroke: #643912 !important;
}
